.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  &__inner {
    padding: 40px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 137px;
      img {
        width: 100%;
        &.mob {
          display: none;
        }
      }
    }
  }
}
@mixin header-lg-xlg {
  .header {
    &__inner {
      &-logo {
        width: 120px;
      }
    }
  }
}
@mixin header-md-lg {
  .header {
    &__inner {
      padding: 30px 0 20px 0;
      &-logo {
        height: 48.83px;
        img {
          height: 100%;
          object-fit: contain;
        }
      }
    }
    &.active {
      background: $white;
      .header {
        &__inner {
          &-logo {
            img {
              &.pc {
                display: none;
              }
              &.mob {
                display: block;
              }
            }
          }
        }
      }
      .burger {
        &__outer {
          p {
            display: block;
          }
        }
      }
    }
  }
}
@mixin header-xsm-sm {
  .header {
    &__inner {
      &-logo {
        width: 88px;
        height: 40px;
      }
    }
  }
}
